<h2> Create new board </h2>

<form class="new-board">

  <label>Title
    <input type="text" name="board[title]" value="<%=board.title%>">
  </label>

  <input type="submit" class="submit" name="Submit">

</form>
